---
import { getLang } from "../../../i18n/useLang";
import en from "../../../i18n/ln.json"; // English
import zh from "../../../i18n/ln-eg.json"; // Chinese

const lang = getLang(Astro);
const Data = lang === "zh" ? zh : en;
const cards = Data.bds_cards;
---

<section class="section">
    <!-- TITLE -->
    <div class="test-title-wrap">
        <h1 class="tests-title" >
            <span class="keyspanclass1">
                <span class="light-word">{Data.tc_takeaways_title1}</span>
                {Data.tc_takeaways_title2}
            </span>
        </h1>
    </div>

    <!-- CARDS -->
    {
        cards.map((card) => (
            <div class="card">
                <div class="card-content">
                    <p class="card-heading">{card.heading}</p>

                    <b class="top-card-heading-class">{card.title}</b>

                    <p>
                        {card.text}
                        {card.linkText && (
                            <a href={card.linkUrl}>{card.linkText}</a>
                        )}
                    </p>
                </div>

                <img src={card.image} alt={card.alt} loading="lazy" />
            </div>
        ))
    }
</section>
